* {
  font-family: "Rubik";
}
body {
  background-color: #FFA0AC;
}
main {
  padding: 30px 25%;
}
.text-block {
  border-radius: 5px;
  background-color: white;
  margin: 0;
  padding: 10px 10px 1px 10px;
}
.center {
  text-align: center;
}
.footer {
    display: flex;
    width: 100vw;
    height: 75px;
    background-color: black;
    color: gray;
    justify-content: center;
    align-items: center;
}
.footer * {
    padding: 0 40px;
    font-size: 16px;
}
h1, h2 {
  color: white;
  text-align: center;
}
h2 {
  margin-top: 30px;
}
.form-row {
  margin-top: 20px;
}
.form-group {
  margin-top: 15px;
}
textarea {
  margin-left: 5px;
  margin-right: 5px;
}
.btn {
  margin-left: 1px;
  margin-top: 0;
  margin-bottom: 10px;
}
@media only screen and (min-width: 601px) and (max-width: 800px) {
  main {
    padding: 20px 10%;
  }
}
@media only screen and (max-width: 600px) {
  main {
    padding: 10px 0;
    width: 100%;
  }
}
