* {
    margin: 0px;
    padding: 0px;
}



/*SLIDER*/
.container {
    position: relative;
    height: 660px;
    width: 960px;
    overflow: hidden;
    margin: 0 auto;
}

.big {
    position: absolute;
    top: 900px;
    left: 20px;

    -webkit-transition: top 1s ease;
    -moz-transition: top 1s ease;
    -o-transition: top 1s ease;
    -ms-transition: top 1s ease;
    transition: top 1s ease;
}


a {
    float: left;
    margin: 20px;
}



a:hover .thumb {
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

a:hover .big {
    top: 260px;
}

.featured {
    top: 260px;
    left: 20px;
    z-index: -3;
}

body {
    font-family: arial;
}

.main-background {
    background-color: #FEFFA5;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    width: 100vw;
    height: 75px;
    background-color: black;
    color: gray;
    justify-content: center;
    align-items: center;
    
}

.footer * {
    padding: 40px;
    font-size: 14px;
}